@import "tailwindcss";

@media print {
    * {
        print-color-adjust: exact !important;
        -webkit-print-color-adjust: exact !important;
    }

    @page {
        size: A4;
        margin: 0;
    }


    body {
        margin: 1cm;
    }

    html {
        font-size: 14px;
    }
}
